@font-face {
  font-family: 'BnppSans-l';
  src: url("../css/fonts/bnpp_sans_light-webfont.eot");
  src: url("../css/fonts/bnpp_sans_light-webfont.eot?#iefix") format("eot"), url("../css/fonts/bnpp_sans_light-webfont.woff") format("woff"), url("../css/fonts/bnpp_sans_light-webfont.ttf") format("truetype"), url("../css/fonts/bnpp_sans_light-webfont.svg#BnppSans-l") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BnppSans-r';
  src: url("../css/fonts/bnpp_sans-webfont.eot");
  src: url("../css/fonts/bnpp_sans-webfont.eot?#iefix") format("eot"), url("../css/fonts/bnpp_sans-webfont.woff") format("woff"), url("../css/fonts/bnpp_sans-webfont.ttf") format("truetype"), url("../css/fonts/bnpp_sans-webfont.svg#BnppSans-r") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BnppSans-b';
  src: url("../css/fonts/bnpp_sans_bold-webfont.eot");
  src: url("../css/fonts/bnpp_sans_bold-webfont.eot?#iefix") format("eot"), url("../css/fonts/bnpp_sans_bold-webfont.woff") format("woff"), url("../css/fonts/bnpp_sans_bold-webfont.ttf") format("truetype"), url("../css/fonts/bnpp_sans_bold-webfont.svg#BnppSans-b") format("svg");
  font-style: normal;
  font-weight: normal;
}
caption, th, td {text-align: left;font-weight: normal;vertical-align: middle;}
button {border: 0;}
.f_left {float: left;}
.f_right {float: right;}
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
@-ms-viewport {width: device-width;}
* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;-ms-touch-action: none !important;}
input:focus, textarea:focus, button {outline: none !important;height: auto;}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
a{ text-decoration:none;}
.clearfix:before, .clearfix:after {
	content: " ";
	/* 1 */
	display: table;/* 2 */
}
.clearfix:after {
	clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
 *zoom: 1;
}

/* Body styles */
html, body {
  width: 100%;
  height: 100%;
}

.easybanking {width: 100%;height: 100%;font-size: 1em;line-height: 1.12em;-webkit-user-select: none !important;-webkit-text-size-adjust: none;background: #eef1f5;font-family: 'BnppSans-l', sans-serif;color: #252429;}
/* Error Styles from sepa */
.error_summary {
  width: 100%;
  color:#e53012;
  padding-bottom:30px;
  display:none;
  font-family: 'BnppSans-r', sans-serif;
}
.error_summary_items{ list-style:disc; padding:10px 0 0 20px; line-height:20px;}
.field_error_message {
	color: #e53012;
	line-height: 13px;
	font-size: 1.14em;
	padding-bottom: 12px;
  	display: none; 
}
.field_error .field_error_message{display: block; }
.field_error .bnppf_input_field {border: 1px solid #e53012;}
/** Input field from Sepa **/
.bnppf_input_field {border: 1px solid #d8dbde;background: #ffffff;position: relative;z-index: 1;width: 100%;padding: 11px 12px;overflow: hidden;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;cursor: pointer;height: 44px;}
.bnppf_input_field > * {display: -moz-inline-stack;display: inline-block;*display: inline;vertical-align: baseline;zoom: 1;}
.bnppf_dropdown_box, .bnppf_input_field, .bnppf_input_field input {font-family: inherit;-webkit-font-smoothing: inherit;color: #76767b;font-size: 16px;line-height: 22px;}
.bnppf_input_field input {width: 100%;}
.bnppf_input_control .bnppf_input_field, .bnppf_input_control .bnppf_input_field input {cursor: pointer;}
.bnppf_input_control .bnppf_input_field.focus, .bnppf_input_control .bnppf_input_field.focus input {cursor: text;}
.bnppf_input_field.disabled, .bnppf_input_field.disabled * {cursor: default !important;}

/* Slectize dropdown select box with arrow down & Up */
.bnppf_input_field.dropdown-active:after {border-color: transparent transparent #252429 transparent;margin-top: -4px;border-width: 0 5px 5px 5px;}
.bnppf_input_field::after {display: block;clear: left;content: ' ';}
.bnppf_input_field.dropdown-active::before {position: absolute;right: 0;bottom: 0;left: 0;display: block;height: 1px;content: ' ';}
.bnppf_input_field > input {max-width: 100% !important;max-height: none !important;min-height: 0 !important;padding: 0 !important;margin: 0 1px !important;text-indent: 0 !important;background: none !important;border: 0 none !important;-webkit-box-shadow: none !important;box-shadow: none !important;-webkit-user-select: auto !important;height: 22px;}

/* Drop box */
.bnppf_dropdown_box {background: #ffffff;border: 1px solid #d0d0d0;-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);position: absolute;z-index: 10;margin: -1px 0 0 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.bnppf_dropdown_box [data-selectable] {border-bottom: 1px solid #d8dbde;overflow: hidden;cursor: pointer;padding: 8px 12px;}
.bnppf_dropdown_content {max-height: 130px;overflow-x: hidden;overflow-y: auto;}
.dropdown_arrow {background:url(../images/dropdown_strip.png) no-repeat right center, #ffffff;}
.dropdown_arrow:after {border-color: #252429 transparent transparent transparent;position: absolute;top: 50%;right: 15px;display: block;width: 0;height: 0;margin-top: -3px;border-style: solid;border-width: 5px 5px 0 5px;content: ' ';}

/** Standard UI Elements **/
/* Standard Btns */
.bnppf_btn {font-size: 1em;font-family: 'BnppSans-r', sans-serif;line-height: 1em;padding: 16px 20px;cursor: pointer;height: 44px;}
.navigation_btns {width: 100%;display: table;}

/* Standard Primary & Secondary Btns */
.btn_primary {background: #009966;color: #ffffff;background: #009966;color: #ffffff;}
.btn_primary .fontcon-arrow-right {color: #ffffff;line-height: 13px;position: relative;top: 2px;}
.btn_primary:hover {background: #008578;}
.btn_secondary {background: #d2d8e1;
}
.btn_secondary:hover {background: #bec6d0;}

/* Primary & Secondary Arrow Btns */
.bnppf_btn_arrow_right, .arrow-left {padding-right: 11px;}

/* Btn Right & Left Alignment */
.right_navigation_btn, .left_navigation_btn {display: table;}

/* standard Links Model */
.lnk_primary {font-size: 1.14em;
font-family: 'BnppSans-r', sans-serif;
line-height: 1em;
padding: 14px 0px;
cursor: pointer;
height: 44px; margin-right:40px; background-color:transparent; color:#ffffff;}
.lnk_primary:hover {text-decoration: underline;}



/* Identification */
.authentication{ width:730px; background-color:transparent; margin:auto; display:table;}
.identification__inner{ padding:30px;}
/* Box1 */
.authentication__information, .authentication__details{ width:365px; float:left; background:#CCC;}
.authentication__information .identification__inner, .authentication__details .identification__inner{ padding:30px 30px 30px 0;}
.information{ color:#ffffff; font-size:18px;}
.information__text{ height:205px; overflow:hidden;text-overflow: ellipsis; line-height:22px;}
.information__url{ width:100%; text-align:right;}
.information__url a{text-decoration:underline; color:#ffffff;}
/* Box 2*/
.authentication__identification, .identification_contract, .identification_ucr{ width:365px; float:left; background:#999;}
.identification_content{ background:rgba(255,255,255,0.3); min-height:282px;}
.identification_header{font-family: 'BnppSans-r', sans-serif; padding-bottom:20px; opacity:0.8;}
.identification_fields{ padding-bottom:12px;}
.identification_labels{font-family: 'BnppSans-r', sans-serif; padding-bottom:8px; line-height:13px;}
.save_profile{ padding-top:13px;}
.identification_fields_alias{ padding-top:25px; display:none;}
.identification__navigation{ padding:30px 0;}
.ucr_btn{ background:rgba(255,255,255,0.8); opacity:0.3; margin:0;}
.identification_btn_active{ opacity:1;}
.save_profile__text{font-family: 'BnppSans-r', sans-serif;}

/* Known Profile */
.known_profile{ position:relative;}
.selected_profile{ height:90px; padding-top:20px;}
.selected_profile_details{ padding:5px 0; width:100%; display:table;}
.profile_label{ float:left; margin-right:10px; display:inline;}
.selected_profile_info .profile_label{font-family: 'BnppSans-r',sans-serif; color:#ffffff;}
.selected_profile_info .profile_info{ color:#ffffff;}
.known_dropbox{ width:100%; top:65px; }
.known_profile .selected_profile_details{ padding:0; font-size:14px;}
.known_profile .saved_details{ width:94%; float:left;}
.saved_data{ border-bottom:1px solid #d8dbde;}
.known_profile .saved_data__inner{ padding:15px 15px 15px 10px; cursor:pointer;}
.fontcon-close{cursor:pointer;}
.user_info, .selected_saved_data{font-family: 'BnppSans-r',sans-serif; font-size:16px;}
.selected_saved_data{ display:none;}
.profile_info{ display:inline;}

/* Contract */
.contract_choice{ border:1px solid #d8dbde;font-family: 'BnppSans-r',sans-serif; height:185px; overflow: scroll;}
.contract_choice li{border-bottom: 1px solid #d8dbde; cursor:pointer;}
.contract_choice li:last-child{ border:none;}
.choice__content_input{ padding: 20px;list-style-type: none;}

/* UCR */
.sendmoney_ucr {background: #f4f5f9;width: 100%;}
.ucr_title {font-size: 24px;padding-bottom: 12px;line-height: 24px;}
.ucr_details {font-size: 16px;border-bottom: 1px solid #d8dbde;width: 100%;display: table;padding: 20px 0;position: relative;}
.ucr_details__numbering {width: 16px;float: left;}
.ucr_details__content {width: 94%;display: table;}
.ucr_details__content span {margin-right: 10px;}
.ucr_details__content p:first-child {font-family: 'BnppSans-r', sans-serif;}
.ucr_code {display: table;margin-right: 12px;text-align: center;}
.ucr_code p:nth-child(2) {font-size: 12px;line-height: 6px;padding-top: 10px;}
.ucr_code__input {width: auto;display: inline-block;width: auto !important;color: #186495 !important;}
.ucr_signature {display: inline-block;}
.bnppf_input_field.ucr_signature__input {width: 250px;}
.ucr_signature__input input {width: 100%;}
.last-child {padding-bottom: 0;border: none;}
.ucr_content {padding: 12px 0;}
.ucr_content__challenge {display: inline-block;width: 100%;padding-top: 10px;}
.ucr_action_content {font-family: 'BnppSans-r', sans-serif;}
.ucr_action_1content {position: relative;top: -2px;}

@media all and (max-width: 480px) {
	.authentication, .authentication__identification, .identification_contract, .authentication__details, .identification_ucr{ width:300px !important;}
	.ucr_challenge__code {width: 100%;display: table;}
	.ucr_action_1content {top: -6px;line-height: 30px;}
	.fontcon-M2:before {top: 40px;}
}
@media all and (max-width: 767px) {
	.authentication{ width:365px;}
	.authentication__information{ display:none;}
	.identification__inner{ padding:10px;}
	.ucr_signature {width: 100%;}
	.ucr_challenge__content {display: table;width: 100%;}
	.ucr_details__content p:first-child {padding-bottom: 12px;}
	.ucr_content__challenge, .ucr_content {padding-top: 0;}
}

