/** Font imports ttf,eot,woff,svg **/
@font-face {
	font-family: 'BnppSans-l';
	src: url("../css/fonts/bnpp_sans_light-webfont.eot");
	src: url("../css/fonts/bnpp_sans_light-webfont.eot?#iefix") format("eot"), url("../css/fonts/bnpp_sans_light-webfont.woff") format("woff"), url("../css/fonts/bnpp_sans_light-webfont.ttf") format("truetype"), url("../css/fonts/bnpp_sans_light-webfont.svg#BnppSans-l") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'BnppSans-r';
	src: url("../css/fonts/bnpp_sans-webfont.eot");
	src: url("../css/fonts/bnpp_sans-webfont.eot?#iefix") format("eot"), url("../css/fonts/bnpp_sans-webfont.woff") format("woff"), url("../css/fonts/bnpp_sans-webfont.ttf") format("truetype"), url("../css/fonts/bnpp_sans-webfont.svg#BnppSans-r") format("svg");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'BnppSans-b';
	src: url("../css/fonts/bnpp_sans_bold-webfont.eot");
	src: url("../css/fonts/bnpp_sans_bold-webfont.eot?#iefix") format("eot"), url("../css/fonts/bnpp_sans_bold-webfont.woff") format("woff"), url("../css/fonts/bnpp_sans_bold-webfont.ttf") format("truetype"), url("../css/fonts/bnpp_sans_bold-webfont.svg#BnppSans-b") format("svg");
	font-style: normal;
	font-weight: normal;
}
/* Resets */
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
button {
	border: 0;
}
.f_left {
	float: left;
}
.f_right {
	float: right;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
 @-ms-viewport {
 width: device-width;
}
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
	-ms-touch-action: none !important;
}
input:focus, textarea:focus, button {
	outline: none !important;
	height: auto;
}
/* Body styles */
html, body, .wcm {
	width: 100%;
	height: 100%;
}
.easybanking {
	width: 100%;
	height: 100%;
	font-size: 0.875em;
	line-height: 1.35em;
	-webkit-user-select: none !important;
	-webkit-text-size-adjust: none;
	background: #eef1f5;
	font-family: 'BnppSans-l', sans-serif;
	color: #252429;
}
.easybanking .wrapper {
	width: 100%;
	height: 100%;
}
/** Standard UI Elements **/
/* Standard Btns */
.easybanking .bnppf_btn {
	font-size: 1.14em;
	padding: 14px 20px;
	font-family: 'BnppSans-r', sans-serif;
	cursor: pointer;
	line-height: 1em;
	height:44px;
}
/* Standard Primary & Secondary Btns */
.easybanking .btn_primary {
	background: #009966;
	color: #ffffff;
}
.easybanking .btn_primary .icon-arrow-right{ color:#ffffff; line-height:13px; position:relative; top:2px;}
.easybanking .btn_primary:hover {
	background: #008578;
}
.easybanking .btn_secondary {
	background: #d2d8e1;
}
.easybanking .btn_secondary:hover {
	background: #bec6d0;
}
/* Primary & Secondary Arrow Btns */
.easybanking .bnppf_btn_arrow_right, .easybanking .arrow-left {
	padding-right: 11px;
}
.easybanking .arrow-right, .easybanking .bnppf_btn_arrow_left {
	padding-left: 10px;
}
/* Btn Right & Left Alignment */
.easybanking .navigation_btns {
	width: 100%;
	display: table;
}
.easybanking .right_navigation_btn, .left_navigation_btn {
	display: table;
}
/* standard Links Model */
.easybanking .lnk_primary {
	font-size: 1.2em;
	font-family: 'BnppSans-r', sans-serif;
	color: #009966;
	margin-right: 40px;
	cursor: pointer;
}
.easybanking .lnk_primary:hover {
	color: #008578;
	text-decoration:underline;
}
/* Show Class */
.easybanking .show_active {
	display: block !important;
}
/** Dropdown, Inputbox & Textarea **/
.easybanking .bnppf_input_field {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 11px 12px;
	overflow: hidden;
	border: 1px solid #d8dbde;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	height: 44px;
}
.easybanking .bnppf_input_field > * {
	display: -moz-inline-stack;
	display: inline-block;
    *display: inline;
	vertical-align: baseline;
	zoom: 1;
}
.easybanking .bnppf_input_control .bnppf_input_field, .easybanking .bnppf_input_control .bnppf_input_field input {
	cursor: pointer;
}
.easybanking .bnppf_input_control .bnppf_input_field.focus, .easybanking .bnppf_input_control .bnppf_input_field.focus input {
	cursor: text;
}
.easybanking .bnppf_dropdown_box, .easybanking .bnppf_input_field, .easybanking .bnppf_input_field input {
	font-family: inherit;
	-webkit-font-smoothing: inherit;
	color: #76767b;
	font-size: 16px;
	line-height: 22px;
}
.easybanking .bnppf_input_field.disabled, .easybanking .bnppf_input_field.disabled * {
	cursor: default !important;
}
/* Slectize dropdown select box with arrow down & Up */
.easybanking .bnppf_input_field.dropdown-active:after {
	margin-top: -4px;
	border-color: transparent transparent #252429 transparent;
	border-width: 0 5px 5px 5px;
}
.easybanking .bnppf_input_field::after {
	display: block;
	clear: left;
	content: ' ';
}
.easybanking .bnppf_input_field.dropdown-active::before {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	height: 1px;
	content: ' ';
}
.easybanking .bnppf_input_field > input {
	max-width: 100% !important;
	max-height: none !important;
	min-height: 0 !important;
	padding: 0 !important;
	margin: 0 1px !important;
	text-indent: 0 !important;
	background: none !important;
	border: 0 none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-user-select: auto !important;
	height: 22px;
}
.easybanking .bnppf_input_field span {
	float: right;
	border-left: 1px solid #d8dbde;
	padding-left: 12px;
	position: absolute;
	right: 12px;
	top: 9px;
	z-index: -999;
	background: white;
}
/* Drop box */
.easybanking .bnppf_dropdown_box {
	position: absolute;
	z-index: 10;
	margin: -1px 0 0 0;
	background: #ffffff;
	border: 1px solid #d0d0d0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.easybanking .bnppf_dropdown_content {
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}
.easybanking .bnppf_dropdown_box [data-selectable] {
	overflow: hidden;
	cursor: pointer;
	padding: 8px 12px;
	border-bottom: 1px solid #d8dbde;
}
.easybanking .highlight {
	background: #f4f5f6;
	font-family: 'BnppSans-r', sans-serif;
}
.easybanking .dropdown_arrow {
	background: url(./images/dropdown_strip.png) no-repeat right center;
}
.easybanking .dropdown_arrow:after {
	position: absolute;
	top: 50%;
	right: 15px;
	display: block;
	width: 0;
	height: 0;
	margin-top: -3px;
	border-color: #252429 transparent transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	content: ' ';
}
/* Drop box groups */
.easybanking .bnppf_dropdown_box .main-group {
	background: #f4f5f6;
	padding: 8px 12px 6px 12px;
	border-bottom: 1px solid #d8dbde;
}
.easybanking .optgroup:first-child {
	padding-top: 3px;
	border-top: 0 none;
}
.easybanking .optgroup-header {
	color: #76767b;
	cursor: default;
	border-bottom: 1px solid #d8dbde;
	font-size: 16px;
	padding: 5px 8px;
	font-family: 'BnppSans-l', sans-serif;
	text-transform: uppercase;
}
.easybanking .optgroup-iban {
	color: #009966;
	font-size: 14px;
	font-family: 'BnppSans-r', sans-serif;
	line-height: 18px;
}
.easybanking .optgroup-iban:hover {
	color: #008578;
	text-decoration: underline;
}
.easybanking .optgroup-amount {
	float: right;
	font-size: 14px;
	color: #76767b;
	display: inline-block;
	line-height: 18px;
}
.easybanking .optgroup-amount .highlight {
	background: #ffffff;
	font-family: 'BnppSans-l', sans-serif;
	padding: 0;
}
.easybanking .optgroup-amount span {
	padding: 0 3px;
}
.easybanking .optgroup-name {
	font-size: 14px;
	color: #76767b;
	display: inline-block;
}
/* Specific to TO field SEPA */
.easybanking .to_field .optgroup {
	padding: 0;
}
.easybanking .to_field .optgroup-header, .easybanking .to_field .bnppf_dropdown_box [data-selectable] {
	padding-left: 24px;
}
/* Text area */
.easybanking .bnppf_text_area {
	width: 100%;
}
.easybanking .bnppf_text_area textarea {
	width: 100%;
	border: 1px solid #ccc;
	resize: vertical;
	font-size: 16px;
	padding: 6px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-appearance: none;
	color: #76767b;
}
.easybanking .bnppf_text_area textarea:focus {
	border-color: #ccc;
}
.easybanking .bnppf_text_area .text_count {
	float: right;
	color: #76767b;
	padding: 6px 0;
}
.easybanking .bnppf_text_area .text_count span {
	padding-left: 4px;
}
/* Date Picker */
.easybanking .bnppf_input__datePicker {
	height: 44px;
	padding: 11px 12px;
	overflow: hidden;
	border: 1px solid #d8dbde;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.easybanking .date_picker input {
	width: 100%;
}
.easybanking .date_picker .bnppf_input_field {
	width: 50%;
}
/* Date picker UI will append to the WCM need to discuss regarding branding*/
.datepicker-dropdown.dropdown-menu {
	position: absolute;
	z-index: 1000;
	display: none;
	min-width: 160px;
	list-style: none;
	background-color: #ffffff;
	border-left: 1px solid #d8dbde;
	border-top: 1px solid #d8dbde;
}
.datepicker {
	top: 0;
	left: 0;
	width: 300px;
}
.datepicker-orient-top {
	margin-top: 20px;
}
.datepicker-orient-bottom {
	margin-top: -20px;
}
.datepicker > div {
	display: none;
}
.datepicker table {
	width: 100%;
	margin: 0;
	border-spacing: 0;
}
.datepicker table thead tr:first-child th {
	border: 0;
	padding: 8px 0;
	font-family: 'BnppSans-r', sans-serif;
	font-size: 16px;
}
.datepicker table thead tr th:last-child {
	border-right: 1px solid #d8dbde;
}
.datepicker td {
	width: 40px;
	height: 36px;
	border-right: 1px solid #d8dbde;
	border-bottom: 1px solid #d8dbde;
	text-align: center;
	font-family: 'BnppSans-r', sans-serif;
	font-size: 16px;
}
.datepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	border-bottom: 1px solid #d8dbde;
	border-top: 1px solid #d8dbde;
	padding: 12px 0 4px 0;
	font-family: 'BnppSans-l', sans-serif;
	font-size: 14px;
}
.datepicker td.day:hover {
	background: #f4f5f6;
	cursor: pointer;
}
.datepicker td.day.disabled {
	color: #999;
}
.datepicker td.old, .datepicker td.new {
	background: #e5e9ef;
}
.datepicker td.active, .datepicker td.active:hover {
	color: #ffffff;
	background: #009e83;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
	color: #ffffff;
	background-color: #009e83;
 *background-color: #003bb3;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active {
	background-color: #003399 \9;
}
.datepicker td span {
	display: block;
	width: 47px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 2px;
	cursor: pointer;
}
.datepicker td span:hover {
	background: #eeeeee;
}
.datepicker td span.active {
	color: #ffffff;
	background: #009e83;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover, .datepicker td span.active:focus, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
	color: #ffffff;
	background-color: #0044cc;
 *background-color: #003bb3;
}
.datepicker td span.active:active, .datepicker td span.active.active {
	background-color: #003399 \9;
}
.datepicker td span.old {
	color: #999999;
}
.datepicker th.switch {
	width: 145px;
}
.datepicker th.next, .datepicker th.prev {
	font-size: 21px;
}
.datepicker thead tr:first-child th {
	cursor: pointer;
}
.datepicker thead tr:first-child tdr:first-child {
	border-top: 1px solid #d8dbde;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
}
/** SEPA Styles **/
/* SEPA Header */ 
.easybanking .bnppf_sendmoney {
	background: #ffffff;
}
.easybanking .bnppf_sendmoney_header {
	width: 100%;
	background: #861a61;
}
.easybanking .bnppf_sendmoney_header_inner {
	position: relative;
	padding: 30px 30px 20px 30px;
}
.easybanking .top {
	width: 100%;
	display: block;
}
.easybanking .bnppf_sendmoney_header strong {
	font-size: 2.57em;
	float: left;
	font-family: 'BnppSans-l', sans-serif;
	text-transform: uppercase;
	color: white;
	line-height: 1.14em;
	min-width: 212px;
	white-space: nowrap;
}
.easybanking .icon_sendmoney {
	background: url(./images/sendmoney_icon.png) no-repeat;
	padding: 8px 23px;
	margin-left: 20px;
}
.easybanking .sepa_steps {
	float: right;
	display: block;
}
.easybanking .sepa_steps__digit li {
	color: #d12668;
	font-size: 1.42em;
	font-family: 'BnppSans-r', sans-serif;
	border: 2px solid #d12668;
	text-align: center;
	display: inline-block;
	padding: 0.66em 0.9em;
	margin-left: 28px;
	-webkit-border-radius: 2.14em;
	-moz-border-radius: 2.14em;
	-o-border-radius: 2.14em;
	border-top-left-radius: 2.14em;
	border-top-right-radius: 2.14em;
	border-bottom-left-radius: 2.14em;
	border-bottom-right-radius: 2.14em;
}
.sepa_steps__text {
	margin-top: 10px;
}
.easybanking .sepa_steps__text li {
	display: block;
	float: left;
	text-align: center;
	color: #d12668;
	font-family: 'BnppSans-r', sans-serif;
	margin-left: 35px;
	font-size: 1em;
}
.easybanking .sepa_steps__digit li.active_step_digit {
	color: #ffffff;
	border-color: #ffffff;
}
.easybanking .sepa_steps__text li.active_step_text {
	color: #ffffff;
}
/* Error messages styles */
.easybanking .error_summary {
	width: 80%;
	margin-left: 20%;
}
.easybanking .field_error_message {
	padding-bottom: 12px;
	color: #e53012;
	display: none;
	line-height: 13px;
	font-size:1.14em;
}
.easybanking .field_error .field_error_message, .easybanking .error_summary .field_error_message {
	display: block;
}
.easybanking .field_error .bnppf_input_field, .easybanking .field_error .bnppf_text_area textarea {
	border: 1px solid #e53012;
}
.easybanking .field_error .sepa_labels {
	margin-top: 35px;
}
.easybanking .message_field.field_error .sepa_labels {
	margin-top: 0px;
}
.easybanking .message_field.field_error .bnppf_input_field:nth-child(1) {
	border: 1px solid #d8dbde;
}
/* SEPA Content */
.easybanking .bnppf_sendmoney_content {
	width: 100%;
}
.easybanking .bnppf_sendmoney_content__inner {
	padding: 30px;
	border-bottom: 1px solid #d2d5da;
}
.easybanking .bnppf_sendmoney_content__inner h5 {
	text-align: right;
	width: 80%;
	padding: 0 0 30px 0;
	font-weight: normal;
	font-family: 'BnppSans-l', sans-serif;
	font-size: 14px;
}
.easybanking .sepa_fields {
	width: 100%;
	display: table;
	padding-bottom: 30px;
}
.easybanking .sepa_labels {
	width: 20%;
	padding: 10px 0;
	float: left;
	font-family: 'BnppSans-r', sans-serif;
	font-size: 16px;
}
.easybanking .sendmoney_details {
	float: left;
	width: 60%;
}
.easybanking .selected-item {
	padding-top: 12px;
	color: #76767b;
	display: none;
	line-height:1em;
}
.easybanking .amount_field .bnppf_input_field input {
	width: 100%;
}
.easybanking .amount_field .bnppf_input_field span {
	padding-top: 3px;
	color: #76767b;
}
.easybanking .sepa_fields.to_field {
	padding-bottom: 0;
}
.easybanking .to_field .show_active {
	display: inline-block!important;
}
.easybanking .to_field .selected_amount {
	display: none;
}
.easybanking .sepa_fields.message_field {
	padding-bottom: 0;
}
.easybanking .message_field .bnppf_input_field input {
	width: 100%;
}
.easybanking .select_message__type input[type="text"] {
	display: none;
}
.easybanking .select_message__structured, .easybanking .select_message__freetext, .easybanking .select_message__eurostructured {
	margin-top: 30px;
}
.easybanking .select_message__struct input {
	height: 44px;
}
/* Confirm Screen */
.easybanking .sepa_confirm_labels {
	width: 20%;
	float: left;
	font-family: 'BnppSans-r', sans-serif;
}
.easybanking .sepa_confirm_fields {
	width: 100%;
	display: table;
	padding: 20px 0;
	font-size: 16px;
	border-bottom: 1px solid #d8dbde;
}
.easybanking .confirm_content p, .easybanking .confirm_content span {
	display: table;
	float: left;
	line-height: 22px;
	word-break: break-word;
}
.easybanking .confirm_content span {
	margin-right: 4px;
}
.easybanking .confirm_amount span {
	margin-left: 4px;
}
.easybanking .confirmation_details {
	float: left;
	width: 60%;
}
.easybanking .sendmoney_confirmation .sepa_confirm_fields:nth-child(1) {
	padding-top: 10px;
}
.easybanking .sepa_confirm_fields.confirm_lastchild {
	padding-bottom: 0;
	border: none;
}
@media all and (max-width: 719px) {
.easybanking .lnk_primary {
	margin-right: 20px;
}
.easybanking .bnppf_sendmoney_header strong {
	font-size: 18px;
	min-width: 106px;
}
.easybanking .sepa_steps__digit li {
	font-size: 14px;
	margin-left: 10px;
	padding: 8px 14px;
}
.easybanking .bnppf_sendmoney_header_inner {
	padding: 20px 10px;
}
.easybanking .sepa_steps__digit {
	float: right;
}
.easybanking .sepa_steps__text li {
	position: absolute;
	top: 40px;
	left: 10px;
	margin: 0;
	display: none;
}
.easybanking .sepa_steps__text li.active_step_text {
	display: block;
}
.easybanking .icon_sendmoney {
	display: none;
}
.error_summary {
	margin: 0;
}
.easybanking .bnppf_sendmoney_content__inner {
	padding: 10px;
}
.easybanking .bnppf_sendmoney_content__inner h5 {
	width: 100%;
}
.easybanking .bnppf_sendmoney_content__inner h5 {
	padding: 0;
}
.easybanking .sendmoney_details {
	width: 100%;
}
.easybanking .field_error, .easybanking .field_error .sepa_labels {
	margin: 0;
}
.easybanking .sepa_fields {
	padding-bottom: 20px;
}
.easybanking .sepa_labels {
	padding: 0 0 8px 0;
}
.easybanking .date_picker .bnppf_input_field {
	width: 100%;
}
.easybanking .date_picker .bnppf_input_field > input {
	width: 100%;
}
.easybanking .sepa_confirm_labels {
	width: 30%;
}
.easybanking .select_type {
	padding-bottom: 20px;
}
}
