@font-face {
	font-family: 'bnpiconfont';
	src:url('fonts/bnpiconfont.eot');
	src:url('fonts/bnpiconfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/bnpiconfont.woff') format('woff'),
		url('fonts/bnpiconfont.ttf') format('truetype'),
		url('fonts/bnpiconfont.svg#bnpiconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="fontcon-"], [class*=" fontcon-"] {
	font-family: 'bnpiconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fontcon-youtube:before {
	content: "\e600";
}
.fontcon-warning_active:before {
	content: "\e601";
}
.fontcon-ucr-ok:before {
	content: "\e602";
}
.fontcon-twitter:before {
	content: "\e603";
}
.fontcon-transaction-out:before {
	content: "\e604";
}
.fontcon-transaction-in:before {
	content: "\e605";
}
.fontcon-switch-to:before {
	content: "\e606";
}
.fontcon-sendmoney:before {
	content: "\e607";
}
.fontcon-send-money-icon:before {
	content: "\e608";
}
.fontcon-search:before {
	content: "\e609";
}
.fontcon-savings-account:before {
	content: "\e60a";
}
.fontcon-refresh:before {
	content: "\e60b";
}
.fontcon-print:before {
	content: "\e60c";
}
.fontcon-pdf:before {
	content: "\e60d";
}
.fontcon-M2:before {
	content: "\e60e";
	font-size:36px;
	position:absolute;
	top:10px;
	color:#186495;
}
.fontcon-M1:before {
	content: "\e60f";
}
.fontcon-logout:before {
	content: "\e610";
}
.fontcon-loading:before {
	content: "\e611";
}
.fontcon-link-intern-teaser:before {
	content: "\e612";
}
.fontcon-link-extern:before {
	content: "\e613";
}
.fontcon-information:before {
	content: "\e614";
}
.fontcon-information-active:before {
	content: "\e615";
}
.fontcon-faq:before {
	content: "\e616";
}
.fontcon-faq-header:before {
	content: "\e617";
}
.fontcon-faq-active:before {
	content: "\e618";
}
.fontcon-facebook:before {
	content: "\e619";
}
.fontcon-expand:before {
	content: "\e61a";
}
.fontcon-current-account:before {
	content: "\e61b";
}
.fontcon-csv:before {
	content: "\e61c";
}
.fontcon-Correct:before {
	content: "\e61d";
}
.fontcon-contactus:before {
	content: "\e61e";
}
.fontcon-contactus-header:before {
	content: "\e61f";
}
.fontcon-contactus-active:before {
	content: "\e620";
}
.fontcon-close:before {
	content: "\e622";
}
.fontcon-circle-done:before {
	content: "\e623";
}
.fontcon-cards:before {
	content: "\e624";
}
.fontcon-calendar:before {
	content: "\e625";
	z-index:999 !important;
	font-size:22px;
}
.fontcon-personage:before {
	content: "\e626";
}
.fontcon-right-in-arrow:before {
	content: "\e627";
}
.fontcon-arrow-right:before {
	content: "\e628";
}
.fontcon-add:before {
	content: "\e629";
}
.fontcon-collapse:before {
	content: "\e621";
}
.fontcon-calendar-arrow-left:before {
	content: "\e62a";
}
.fontcon-calendar-arrow-right:before {
	content: "\e62b";
}
.fontcon-download:before {
	content: "\e62c";
}
llapse:before {
	content: "\e621";
}
.fontcon-calendar-arrow-left:before {
	content: "\e62a";
}
.fontcon-calendar-arrow-right:before {
	content: "\e62b";
}
.fontcon-download:before {
	content: "\e62c";
}
